@import url("http://fonts.googleapis.com/css?family=Inconsolata&v1");

html, body{
	margin:0;
}

body{
	background-color:#f3f3f3;
	font-family: sans-serif;
	
}

#content{
	width:800px;
	margin:55px auto;
	
	color:#454545;
}

#content p{
	font-size:15px;
	line-height:155%;
	
	font-weight:bold;
}

#demo{
	margin-top:20px;
	border-top:1px solid #ccc;
	padding-top:20px;
}

#demo a{
	font-size:30px;
	line-height:30px;
	font-family: 'Inconsolata', arial, serif;
	text-decoration:none;
	color:#888787;
	
	display:block;
	margin:0 0 30px 15px;
	
	cursor:pointer;
}

#demo a:hover{
	color:#e64529;
}

#head{
	position:relative;
}

#head a{
	position:absolute;
	top:0;
	right:0;
	display:block;
	
	font-size:11px;
	line-height:11px;
	color:#4c7278;
	background-color:#c7e9e8;
	padding:10px;
	
	text-decoration:none;
}

	.gh a{
		color:#e64529;
		text-decoration:none;
	}

#themes{

}

#themes a{
	width:174px;
	height:204px;
	display:inline-block;
	margin:0 28px 28px 0;
}

#themes a img{
	border:0;
	width:174px;
	height:174px;
	background-color:#616161;
	display:block;
	margin:0;
}

#themes a span{
	font-size:11px;
	color:#2c2c2c;
	width:100%;
	display:inline-block;
	background-color:#cecece;
}
	#themes a span b{
		display:inline-block;
		padding:9px 7px;
	}

#shortthemes a{
	font-size:20px;
	line-height:20px;
	text-decoration:none;
	display:inline-block;
	margin:0 25px 0 15px;
	font-weight:bold;
	color:#888787;
/* 	border-bottom:1px solid #aaa; */
}

	#shortthemes a.selected{	
		color:#000;
/* 		border-bottom:1px solid #f7563a; */
	}
	

hr{
	border:0;
	width:100%;
	border-bottom:1px solid #ccc;
	margin:25px 0;
}

p{
	padding-left:3px;
}

pre{
	font-family: 'Inconsolata', arial, serif;
	background-color:#ddd;
	padding:15px;
	color:#444;
	font-size:15px;
	line-height:150%;
	margin:25px 0 35px 0;
}