.smoke-base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all .3s;
  -webkit-transition: opacity .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.smoke-base.smoke-visible {
  opacity: 1;
  visibility: visible;
}

.smokebg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.smoke-base .dialog {
  position: absolute
}

.dialog-prompt {
  margin-top: 5px;
  text-align: center;
}

.dialog-buttons {
  margin: 10px 0 5px 0
}

.smoke {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  line-height: 130%;
}

.dialog-buttons button {
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  text-decoration: none;
  border: 0;
  outline: 0;
  margin: 0 5px;
  -webkit-background-clip: padding-box;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  padding: 9px 12px;
}

.dialog-prompt input {
  margin: 0;
  border: 0;
  font-family: sans-serif;
  outline: none;
  border: 1px solid #333;
  width: 97%;
  background-color: #fff;
  font-size: 15px;
  padding: 5px;
}

.smoke-base {
  background: rgba(0,0,0,.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#900000000);
}

.smoke-base .dialog {
  top: 25%;
  left: 25%;
  width: 50%;
}

.smoke-base .dialog-inner {
  padding: 15px
}

.smoke {
  text-transform: uppercase;
  background-color: rgba(255,255,255,1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff);
}

.dialog-buttons button {
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#222222,endColorstr=#222222);
  color: #fff;
}

button.cancel {
  background-color: rgba(0,0,0,.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444,endColorstr=#444444);
}

.queue{
	display:none;
}